@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- */
/* Gilroy Font */
/* -------------------- */

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

/* Layout Reset */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy', sans-serif;
}
